<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
    <style>
        body{
            background: #F5F5F5;
            padding: 50px;
        }
        #error-500 .content {
            width: 30%;
            max-width: 512px;
            margin: 0 auto;
            text-align: center;
            color: rgba(0,0,0,0.87);
        }
        #error-4500 .content .error-code {
            font-size: 112px;
            text-align: center;
            line-height: 1;
            margin-bottom: 16px;
            font-weight: 500;
        }
        #error-500 .content .message {
            font-size: 24px;
            text-align: center;
            color: rgba(0,0,0,.54);
        }
    </style>
</head>
<body>
    <div id="error-500">
        <div class="content">
            <div class="error-code">500</div>
            <div class="message">服务异常，请稍后再试....</div>
        </div>
    </div>
    
</body>
</html>