<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="keywords" content="">
    <title>趋数服务市场</title>
    <link rel="stylesheet" type="text/css" href="lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="lib/font-awesome-4.7.0/css/font-awesome.min.css" />
    <style type="text/css" media="screen">
    body{
      background-color:#F3F7FA;
    }
    nav {
        background: #03A9F3;
    }
    .container .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
      color: #039be5;
    }
    .container .card .card-action a:hover{
      opacity: .7;
    }
    
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
        background: #EAEEF1;
    }
    .footer .chat-us dd{
      line-height: 30px;
    }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="javascript:void(0)" class="brand-logo hide-on-small-only">trend-data</a>
                <a href="javascript:void(0)" class="brand-logo center">趋数服务市场</a>                
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://www.qushubi.com/images/prod.jpg">
                        <span class="card-title">洞察行业情报 把握市场动向——情报魔方</span>
                    </div>
                    <div class="card-content">
                        <p>情报魔方是一款专为全网电商客户打造的全行业数据决策分析系统，通过对淘宝及天猫全网行业及细分类目市场数据进行多维分析及展现，直接帮助客户精准打造宝贝，占领行业及细分市场份额，最终提升店铺利润。</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="/marketconditions/login.html" target="_blank" title="情报魔方">产品地址</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://www.qushubi.com/images/prod2.jpg">
                        <span class="card-title">数据可视化分析——趋数BI</span>
                    </div>
                    <div class="card-content">
                        <p>趋数可视化分析系统针对每个单独的客户提供灵活的商业数据管理平台，无论您是需要监控投入转化率的市场人员，需要改善增强产品的制作企业，需要完善内部管理的企业管理人员我们都有丰富的经验帮到您。</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="http://bi.trenddata.cn/trend-new-BI/main.html" target="_blank" title="趋数BI">产品地址</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="http://www.qushubi.com/images/prod3.JPG">
                        <span class="card-title">县域电子商务大数据可视化中心</span>
                    </div>
                    <div class="card-content">
                        <p>县域电子商务大数据可视化中心为县市域政府及时全面掌握地方电商数据,帮助政府及时调整的政策方向,快速,高效的调配电商资源,达到资源利用最大化。</p>
                    </div>
                    <div class="card-action right-align">
                        <a href="http://bi.trenddata.cn/trend-new-BI/main.html" target="_blank" title="趋数BI">产品地址</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <dl class="chat-us">
                        <!-- <dt>杭州趋数网络科技有限公司</dt> -->
                        <dd><i class="fa fa-map-marker"></i> 杭州市西湖区塘苗路18号华星现代产业园D座D-601</dd>
                        <dd><i class="fa fa-phone"></i>0571-87986150</dd>
                        <dd><i class="fa fa-envelope"></i>service@trend-data.cn</dd>
                    </dl>
                </div>
                <div class="col s12 m4 center">
                    <img width="120" height="120" src="http://www.qushubi.com/images/weixi.png" alt="微信公众号">
                </div>
            </div>
        </div>
    </div>

</body>

</html>
